
*{
     font-family: "Montserrat", sans-serif;
     margin: 0;
     background-color: white;
     
    box-sizing: border-box;



}


.main{
    
    height: 100vh;
}
.head{
   
    height: 130px;
}
.content{
    background-color: skyblue;

}
.foot{
    background-color: plum;
    height: 457px;
}
.upper {
  
    height: 44px;
    width: 100%;
    display: flex;
    gap: 130px; 
       background-color: #e11c59;
    align-items: center;     
    justify-content: center; 
    
    color:black;            
    padding: 0 15px;         
    font-size: 16px;         
}


.upper i {
    color: inherit;
   
}


.upper p {
    margin: 0;
    background-color: #e11c59;
    color:white;
}
.nav{
    align-items: center;
    display: flex;
    height: 82px;
     padding: 0 10%;   
    color: black;
    margin: 0 auto; 
    gap: 20px;
}
#logo{
    height: 50px;
   
}

#left{
    background-color:#e11c59;
    color: white;
}
#right{
    background-color:#e11c59;
       color: white;
}
a{
    text-decoration: none;
    color: black;

}
.icons{
    color: black;
    margin-left: auto;
    display: flex;
    gap: 30px;
}
